/* Carousel.css */

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}

.slides-container {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%; /* Ensure each slide takes full width */
  transition: transform 0.5s ease;
}

.slide img {
  width: 500px;
  height: 500px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
