.card-holder {
  display: flex;
  justify-content: space-between;
  width: 96%;
  height: fit-content;
  margin: 30px;
  padding: 30px;
}
h1 {
  color: black;
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}
