@keyframes animateDumbbells {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-50px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(360deg);
  }
}

body {
  background-color: #f0f0f0;
  overflow: hidden;
}

.dumbbell {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #555;
  clip-path: polygon(0 50%, 25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%);
  animation: animateDumbbells 5s ease-in-out infinite;
}

.dumbbell::before,
.dumbbell::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  background-color: #888;
}

.dumbbell::before {
  top: 0;
  left: 20px;
  border-radius: 10px;
}

.dumbbell::after {
  bottom: 0;
  left: 20px;
  border-radius: 10px;
}
